body {
	font-family: helvetica, arial, sans-serif;
	background-color: rgba(0, 128, 0, 0.3);
  }

.wrapEverything {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 750px;
	margin: auto;
}

.wrapMain {
	filter: drop-shadow(0 0 6px rgba(0, 128, 0, 0.4));
  }

.main {
	background-color:rgb(255, 241, 219);
	border:rgb(255, 241, 219) 5px;
	padding: 20px;
	margin: auto;
	/*position: relative;*/
	width: 410px;
	overflow: hidden;
	clip-path: polygon(0 0, 0 0, 85% 0, 100% 5%, 100% 100%, 100% 100%, 0% 100%, 0% 90%, 0% 100%);
  }

.main:after {
  content: '';
  position: absolute;
  display: block;
  width: 15%;
  height: 5%;
  background-color:rgb(253, 228, 185);
  top: 0;
  right: 0;
}

.row {
	display: flex;
	justify-content: space-between;
}

.sidebar {
	margin-top: 20px;
	padding: 20px;
	width: 300px;
	background-color:rgb(255, 241, 219);
	border:rgb(255, 241, 219) 5px;
	filter: drop-shadow(0 0 6px rgba(0, 128, 0, 0.4));
}

/* hr {
	border: solid 2px green;
} */

a {
	/* to-do: style links. Font=body font, color=body color, no underline. */
}

.pageTitle {
	font-family: "Playfair Display", Georgia, Times, serif;
	font-size: 18pt;
	color: green;
	text-decoration: underline double green;
	text-underline-position: under;
	
}  

#title {
	width: 400px;
}

#servings {
	width: 40px;
} 

#time {

	width: 220px;
}
  
#ingredients, #instructions {
	width: 400px;
	height: 400px;
	font-family: helvetica, arial, sans-serif;
  }

.buttons {
	height: 75px;
	display: flex;
	justify-content: flex-end;
  } 

#submit, #reset  {
	font-family: helvetica, arial, sans-serif;
	font-size: 12pt;
	padding: 10px;
	margin-top: 20px;
	margin-left: 8px;
	width: auto;
	height: 40px;
	text-align: center;
}

#submit {
	background-color: rgba(0, 128, 0, 0.4);
	border: outset rgba(0, 128, 0, 0.4) 2px;
}

#reset {
	background-color: rgb(253, 228, 185);
	border: outset rgb(253, 228, 185) 2px;
}

h1 {
	font-family: "Playfair Display", Georgia, Times, serif;
	font-size: 14pt;
	font-style: normal;
	color: green;
	text-decoration: underline double green;
	text-underline-position: under;
}

h2 {
	font-family: helvetica, arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
  
h3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

label {
	font-family: helvetica, arial, sans-serif;
}
