body {
	font-family: helvetica, arial, sans-serif;
	margin: 2em;
	/* put a bakcground behind the recipe cards
  background-image: url("STRING HERE");
	background-position: center;
  background-repeat: repeat;
 */
}

h1 {
	font-size: 18pt;
	font-style: italic;
	color: green;
}

h2 {
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
}
